/*an external css file*/
#features{
    background-color:beige;
}

body,header,h1,section{
    border-style:dotted;
    border-style:turquoise;
    border-width: 2px;
}
h1{
    /*long-hand*/
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10p;
    /*short-hand*/
    padding:10px;
    /*TRouBLe*/
    padding:5px 10px 13px 50px;
    /*this applies to all the four margins*/
    margin: 5px;
    margin:10px;
    margin:13px ;
    margin:50px;
}